html {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}
.header-component {
  display: flex;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  padding-right: 2em;
}
.logged-in-icon {
  display: inline-flex;
  align-items: center;
}
.logged-in-icon img {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  border: solid black 4px;
  transition-duration: 1.2s;
}
.logged-in-icon img:hover {
  scale: 1.05;
}
a {
  text-decoration: none;
}
